<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>85988698552-2a96d5bj89ps4o5kirk5j2lpvs7jg9e3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.85988698552-2a96d5bj89ps4o5kirk5j2lpvs7jg9e3</string>
	<key>API_KEY</key>
	<string>AIzaSyCfim-Oba5jJpHJ-eDH-DiylI8I2xn23t8</string>
	<key>GCM_SENDER_ID</key>
	<string>85988698552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartStation</string>
	<key>PROJECT_ID</key>
	<string>smartstation-19515</string>
	<key>STORAGE_BUCKET</key>
	<string>smartstation-19515.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85988698552:ios:267c085a39a7a01186874d</string>
</dict>
</plist>